{% extends "base.html" %}
{% block pageContent %}
    {% comment %} <h1>The name of the project is {{data.name}} and its age is {{data.age}} </h1> {% endcomment %}   
    <h3> Recipes under {{ category }}</h3>
    <a href='{% url "foodie_app:add_recipe_with_cat" category_id=category.id %}'> Add A New Recipe For This Category </a>
    <div> 
        {% for catRec in catRecipes %}
            <div>
                <h5> {{ catRec.name }} </h5>
                <p> {{ catRec.description }} </p>
                {% comment %} <a href=''> {{ catRec }} </a> {% endcomment %}
            </div>         
            {% comment %} No need for the category.name because the Category model returns the name. {% endcomment %}
        {% endfor %}
    </div>
{% endblock pageContent %}