{% extends "base.html" %}
{% block pageContent %}
    {% comment %} <h1>The name of the project is {{data.name}} and its age is {{data.age}} </h1> {% endcomment %}   
    <h1> WELCOME </h1>
    <h3> Categories </h3>
    <div> 
        {% for category in categories %}
            <a href='{% url "foodie_app:cat_recipes" category.id %}'> {{ category }} </a>
            {% comment %} No need for the category.name because the Category model returns the name. {% endcomment %}
        {% endfor %}
    </div>
{% endblock pageContent %}